<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% load static %}
{% block maincontent %}
<link rel="stylesheet" type="text/css" href="{% static 'css/newexam.css' %}">
<head>

</head>
    <b>
<body>
    <center>
        <form action= {% url "new_exam" %} method="post">{% csrf_token %}
            <div class="fields">
                <label>Question amount (1-100)</label>
                <p>{{ form.question_amount }}</p>
                <label>Select exam subject</label>
                <p>{{ form.subject }}</p>
                <label>Select when you would like to review your progress</label>
                <p>{{ form.feedback }}</p>
            <input type="submit" class="button" value="Start New">
            </div>

    </center>
</body>
{% endblock %}
</html>