<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<h1>Here is the welcome page</h1>
{% if user.is_authenticated %}
    <p><strong> Welcome, {{ user.username }}   <a href={% url 'log_out' %}>LOGOUT?</a></strong></p>
{% else %}
    <p><a href={% url 'create_user' %}>Create a User</a> or <a href={% url 'log_user' %}>Log in</a> </p>
{% endif %}
<br>
<h2>Testing Centre</h2>
    {% if user.is_authenticated %}
    <ul>
      <li><a href={% url 'new_exam' %}>Start a new test</a></li>
      <li><a href={% url 'previous_exams' %}>Previous tests</a></li>
    </ul>
    <br>
        {% if request.user.is_superuser %}
            <p><strong><a href="http://127.0.0.1:8000/admin">Admin Panel</a></strong></p>
        {% endif %}
    {% else %}
    <p>Log in to test and keep progress!</p>
    {% endif %}
<body>

</body>
</html>